bin/
lib/

# Visual Studio 2012 stuff
*.suo
*.sdf
*.opensdf
build/vs2012/DRDSP/x64/
build/vs2012/DRDSP/Win32/
build/vs2012/examples/brusselator/x64/
build/vs2012/examples/brusselator/Win32/
build/vs2012/examples/pendulum/x64/
build/vs2012/examples/pendulum/Win32/
build/vs2012/examples/kuramoto/x64/
build/vs2012/examples/kuramoto/Win32/
build/vs2012/examples/goodfellow/x64/
build/vs2012/examples/goodfellow/Win32/
build/vs2012express/DRDSP/x64/
build/vs2012express/DRDSP/Win32/
build/vs2012express/examples/brusselator/x64/
build/vs2012express/examples/brusselator/Win32/
build/vs2012express/examples/pendulum/x64/
build/vs2012express/examples/pendulum/Win32/
build/vs2012express/examples/kuramoto/x64/
build/vs2012express/examples/kuramoto/Win32/
build/vs2012express/examples/goodfellow/x64/
build/vs2012express/examples/goodfellow/Win32/